@model List<QuizApp.Models.EntityFramework.q_genelSonuc>
@{
    ViewBag.Title = "GrafikGoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 10% 0% 5% 45%">Grafikler</h2>
<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <select id="sinavlar">
                @foreach (var sinav in Model)
                {
                    <option name="sinavNo" value="@sinav.quizCount">@sinav.quizCount</option>

                }


            </select>

            <img src="@Url.Action("AnlikGrafik","Profil")" />
        </div>
        <div class="col-md-6">
            <img src="@Url.Action("GenelGrafik","Profil")" />
        </div>
    </div>
</div>



@*<div style="margin-left:3%;">
    @Html.ActionLink("Profile Geri Dön", "Details", "User", null, new { @class = "btn btn-primary" })
</div>*@
