@model QuizApp.ViewModel.viewModel

@{
    ViewBag.Title = "QuizOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto " id="soruHazirla">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="text-center"><b>SORU HAZIRLA</b></h5>
                <br /><br />

                @using (Html.BeginForm("SoruKaydet", "QuizHazirla", FormMethod.Post, new { @id = "soruKaydet" }))

                {
                    @Html.AntiForgeryToken()
                    <div class="form-label-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Kategori Seçiniz:</b></label>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.Soru.kategoriId, new SelectList(Model.Kategori, "kategoriId", "kategori"), "Kategori", new { @class = "form-control", required = "required" })

                            </div>
                        </div>
                    </div>

                    <div class="form-label-group">
                        <label><b>Sorunuzu Yazınız:</b></label>
                        @Html.TextAreaFor(m => m.Soru.soru, new { @class = "form-control soru", required = "required" })


                    </div>
                    <br />

                    <div id="secenek">
                        <label><b>Seçenekleri Yazınız,Doğru Cevabı İşaretleyiniz:</b></label>
                        <div class="form-label-group">
                            <div class="row ">
                                @Html.RadioButtonFor(m => m.Secenek.dogruCvp, "cevap1", new { @class = "form-control col-md-1", @checked = "checked" })
                                @Html.TextBoxFor(m => m.Secenek.cevap1, new { @class = "form-control col-md-11 btnCvp", required = "required" })
                            </div>
                        </div>

                        <br />


                        <div class="form-label-group">

                            <div class="row">
                                @Html.RadioButtonFor(m => m.Secenek.dogruCvp, "cevap2", new { @class = "form-control col-md-1  " })
                                @Html.TextBoxFor(m => m.Secenek.cevap2, new { @class = "form-control col-md-11 btnCvp", required = "required" })
                            </div>
                        </div>

                        <br />
                        <div class="form-label-group">
                            <div class="row">
                                @Html.RadioButtonFor(m => m.Secenek.dogruCvp, "cevap3", new { @class = "form-control col-md-1" })
                                @Html.TextBoxFor(m => m.Secenek.cevap3, new { @class = "form-control col-md-11 btnCvp", required = "required" })
                            </div>
                        </div>

                        <br />

                        <div class="form-label-group">
                            <div class="row">
                                @Html.RadioButtonFor(m => m.Secenek.dogruCvp, "cevap4", new { @class = "form-control col-md-1 " })
                                @Html.TextBoxFor(m => m.Secenek.cevap4, new { @class = "form-control col-md-11 btnCvp", required = "required" })
                            </div>
                        </div>
                        <br />

                        <div class="form-label-group">
                            <div class="row">
                                <h4 id="dogruCvp"></h4>
                            </div>
                        </div>

                    </div>


                    <br /><br />
                    <button class="btn btn-lg btn-success btn-block text-uppercase"  type="submit">Kaydet</button>
                    <hr class="my-4">
                }

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}






